@import url(./reset.css);
@import url(./variaveis.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: aqua;
}


.alert{
    opacity: 0;
}
.thanks{
    display: none;
}



.attribution{ 
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}